{% extends 'reviews/base.html' %} 
{% load static %}

{% block title %}Categories{% endblock %} 

{% block content %}


    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'reviews/categories/Grid.css' %}"
    />
   
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'reviews/categories/categories.css' %}"
    />

   

    <div class="row product-categories">


        {% for category in categories %}
            {% if category.id == 1 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/washing-machine.png' %}"
                    alt="washing machine"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}    
      

      
        {% for category in categories %}
            {% if category.id == 2 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/freezer.png' %}"
                    alt="refrigerator"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}  



        {% for category in categories %}
            {% if category.id == 3 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/ac.png' %}"
                    alt="ac"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}  



    </div>


    <div class="row product-categories">


        {% for category in categories %}
            {% if category.id == 4 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/tv.png' %}"
                    alt="tv"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %} 


        {% for category in categories %}
            {% if category.id == 7 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/blender.png' %}"
                    alt="blender"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %} 


        {% for category in categories %}
            {% if category.id == 5 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/smartphone.png' %}"
                    alt="smartphone"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %} 



    </div>




    <div class="row product-categories">



        {% for category in categories %}
            {% if category.id == 6 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/laptop.png' %}"
                    alt="laptop"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %} 

        {% for category in categories %}
            {% if category.id == 8 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/headphones.png' %}"
                    alt="headphones"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}


        {% for category in categories %}
            {% if category.id == 11 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/mirrorless.png' %}"
                    alt="mirrorless"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}



    </div>



    <div class="row product-categories">


        {% for category in categories %}
            {% if category.id == 9 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/printer.png' %}"
                    alt="printer"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}


        {% for category in categories %}
            {% if category.id == 10 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/gaming-console.png' %}"
                    alt="gaming-console"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}


        {% for category in categories %}
            {% if category.id == 12 %}
                <div class="product-box col span-1-of-3">
                    <img
                    src="{% static 'reviews/categories/images/hard-drive.png' %}"
                    alt="hard-drive"
                    class="product-icon"
                    />
                    <div class="product-details">
                    <h2>{{category.catname}}</h2>
                    <h4>Products: <span class="product-value">{{category.calculate_products}}</span></h4>
                    </div>
                </div>

            
            {% endif %}
        
        {% endfor %}



    </div>

  </body>



{% endblock %}
