{% extends 'reviews/base.html' %}
{% load static %} 
{% block title %}Products{%endblock %} 

{% block content %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'reviews/Products/products.css' %}"
    />

  <section class="section-products">


    <div class="row">
      <h2 class="product-header">{{category.catname}}</h2>
    </div>
    <div class="row product-categories">

        {% for product in products %}
            <div class="product-box">
            <img
            src="{{product.pimg.url}}"
            alt="error"
            class="product-img"
            />
            <div class="product-details">
            <h4 class="header-product">
                Reviews: <span class="product-value">{{product.review_set.count}}</span>
                Average Rating: <span class="product-value">{{product.average_rating | floatformat}}</span>
            </h4>
            <div class="translate-right">
            <h2><a href="{% url 'reviews:product_detail' cid=category.id pid=product.id %}">{{product.pname}}</a></h2>
            <h4>Description</h4>
            <p>
            {{product.specification}}
            </p>
          </div>
        </div>
      </div>
        {% endfor %}

      <!--<div class="product-box">
        <img
          src="washing-machine-1.jpg"
          alt="washing machine"
          class="product-img"
        />
        <div class="product-details">
          <h4 class="header-product">
            Rating: <span class="product-value">3.5</span>
          </h4>
          <div class="translate-right">
            <h2><a href="#">LG G508</a></h2>
            <h4>Specifications</h4>
            <ul class="product-specs">
              <li>Spec1</li>
              <li>Spec2</li>
              <li>Spec3</li>
              <li>Spec4</li>
              <li>Spec5</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="product-box">
        <img
          src="washing-machine-2.jpg"
          alt="washing machine"
          class="product-img"
        />
        <div class="product-details">
          <h4 class="header-product">
            Rating: <span class="product-value">3.2</span>
          </h4>
          <div class="translate-right">
            <h2><a href="#">Samsung SL950</a></h2>
            <h4>Specifications</h4>
            <ul class="product-specs">
              <li>Spec1</li>
              <li>Spec2</li>
              <li>Spec3</li>
              <li>Spec4</li>
              <li>Spec5</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="product-box">
        <img
          src="washing-machine-3.jpg"
          alt="washing machine"
          class="product-img"
        />
        <div class="product-details">
          <h4 class="header-product">
            Rating: <span class="product-value">4.0</span>
          </h4>
          <div class="translate-right">
            <h2><a href="#">Toshiba TE342</a></h2>
            <h4>Specifications</h4>
            <ul class="product-specs">
              <li>Spec1</li>
              <li>Spec2</li>
              <li>Spec3</li>
              <li>Spec4</li>
              <li>Spec5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>-->
  </section>
</div>

{% endblock %}
