{% extends 'reviews/base.html' %} 
{% load static %}

{% block title %}Home{% endblock %} 


{% block content %}


<section class="section-latest">
  <div class="row latest-reviews">
    <h3>Latest Reviews</h3>
    <div class="comment-box">


      <div class="comment-body">

        <div class="mail-content">

          <div class="product-details">
            <h4 class="product-name">Samsung Note 10</h4>
            <span class="product-category"> Smartphones </span>
          </div>

          <span class="mail-desc"
            >Donec ac condimentum massa. Etiam pellentesque pretium lacus.
            Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque
            molestie feugiat. Aenean commodo dui pellentesque molestie
            feugiat</span
          >
          <br />

          <div class="user-details">
            <div class="user-img">
              <img src="{% static 'reviews/images/sonu.jpg' %}" alt="user" class="img-circle" />
            </div>
            <h5>Sonu Nigam</h5>
            <span class="time">10:20 AM 20 may 2016</span>
          </div>

          <div class="rating-buttons">
            <a href="#" class="upvote"
              ><ion-icon name="thumbs-up-outline"></ion-icon
            ></a>
            <a href="#" class="downvote"
              ><ion-icon name="thumbs-down-outline"></ion-icon
            ></a>
          </div>


        </div>
      </div>





      <div class="comment-body">
        <div class="product-details">
          <h4 class="product-name">Samsung Odyssey G9</h4>
          <span class="product-category"> TV </span>
        </div>
        <div class="mail-content">
          <span class="mail-desc"
            >Donec ac condimentum massa. Etiam pellentesque pretium lacus.
            Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque
            molestie feugiat. Aenean commodo dui pellentesque molestie
            feugiat</span
          >
          <br />
          <div class="user-details">
            <div class="user-img">
              <img src="{% static 'reviews/images/ritesh.jpg' %}" alt="user" class="img-circle" />
            </div>
            <h5>Ritesh deshmukh</h5>
            <span class="time">10:20 AM 20 may 2016</span>
          </div>
          <div class="rating-buttons">
            <a href="#" class="upvote"
              ><ion-icon name="thumbs-up-outline"></ion-icon
            ></a>
            <a href="#" class="downvote"
              ><ion-icon name="thumbs-down-outline"></ion-icon
            ></a>
          </div>
        </div>
      </div>




      <div class="comment-body">
        <div class="product-details">
          <h4 class="product-name">LG G5809</h4>
          <span class="product-category"> Washing machines </span>
        </div>
        <div class="mail-content">
          <span class="mail-desc"
            >Donec ac condimentum massa. Etiam pellentesque pretium lacus.
            Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque
            molestie feugiat. Aenean commodo dui pellentesque molestie
            feugiat</span
          >
          <br />
          <div class="user-details">
            <div class="user-img">
              <img src="{% static 'reviews/images/varun.jpg' %}" alt="user" class="img-circle" />
            </div>
            <h5>Varun dhawan</h5>
            <span class="time">10:20 AM 20 may 2016</span>
          </div>
          <div class="rating-buttons">
            <a href="#" class="upvote"
              ><ion-icon name="thumbs-up-outline"></ion-icon
            ></a>
            <a href="#" class="downvote"
              ><ion-icon name="thumbs-down-outline"></ion-icon
            ></a>
          </div>
        </div>
      </div>


    </div>
  </div>



  
  <div class="row panel-top-picks">
    <h3>Top Picks</h3>
    <div class="top-pick-item">
      <div class="upvote-count">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        <span class="upvote-value">512</span>
      </div>
      <h4 class="product-name">LG G5809</h4>
      <span class="product-category"> Washing machines </span>
    </div>
    <div class="top-pick-item">
      <div class="upvote-count">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        <span class="upvote-value">475</span>
      </div>
      <h4 class="product-name">Samsung Odyssey G9</h4>
      <span class="product-category"> TV </span>
    </div>
    <div class="top-pick-item">
      <div class="upvote-count">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        <span class="upvote-value">388</span>
      </div>
      <h4 class="product-name">Samsung Note 10</h4>
      <span class="product-category"> Smartphones </span>
    </div>
  </div>
</section>
</div>

{% endblock %}
